<!doctype html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username(size=20) }}<br><br>
        {{ form.password.label }} {{ form.password(size=20) }}<br><br>
        {{ form.submit() }}
    </form>
    <p><a href="/login">Already have an account? Login</a></p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>{% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}</ul>
      {% endif %}
    {% endwith %}
</body>
</html>
